{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}JUYEONKIM.COM{% endblock %}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
    <!-- Customized CSS -->
    <link rel="stylesheet" href="{% static 'css/customizedStyle.css' %}">
</head>
<body uk-height-viewport>
    <div class="uk-padding uk-padding-remove-top uk-margin-auto">
        <div>
        <!-- <div uk-sticky="offset: 0"> -->
            <div class="uk-heading-divider"> <!-- uk-flex uk-flex-right -->
                <nav class="uk-navbar uk-navbar-container uk-margin-remove" style="background-color:transparent;!important" uk-navbar="mode:click;">

                    <div class="uk-navbar-left">

                        <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav uk-margin-small-left">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'show:exhibitions' %}">Exhibitions</a></li>
                                <li><a href="{% url 'work:painting_archive' %}">Works</a></li>
                                <li><a href="{% url 'text' %}">Texts</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                            </ul>
                            <!-- <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{% url 'index' %}"><span uk-icon="home"></span>&nbsp;Home</a></li>
                                <li><a href="{% url 'show:exhibitions' %}"><span uk-icon="home"></span>&nbsp;Exhibitions</a></li>
                                <li><a href="{% url 'work:painting_archive' %}"><span uk-icon="image"></span>&nbsp;Works</a></li>
                                <li><a href="{% url 'text' %}"><span uk-icon="file-text"></span>&nbsp;Texts</a></li>
                                <li><a href="{% url 'about' %}"><span uk-icon="user"></span>&nbsp;About</a></li>
                                <li><a href="{% url 'contact:contact' %}"><span uk-icon="mail"></span>&nbsp;Contact</a></li>
                            </ul> -->
                        </div>
                        <h3 class="uk-text-bold uk-margin-top title-heading">
                            <a class="uk-text-decoration-none" href="{% url 'index' %}">JUYEON KIM</a>
                        </h3>
                    </div>
                </nav>
            </div>
        
            <ul class="uk-breadcrumb uk-margin-small-top">
                <!-- {% block breadcrumb %} -->
                <!-- {% endblock %} -->
            </ul>
            
            <div class="submenu">
                {% block menu %}
                {% endblock %}
            </div>
        </div>
        
            {% block content %}
            {% endblock %}
        
    </div>
    <!--  Lazyload Images  -->
    <script src="{% static 'javascript/lazysizes.min.js' %}"></script>
</body>
</html>