body {
    /* background-image: url("/static/image/wall.jpg");
    background-repeat: repeat;
    background-attachment: scroll; */
    background-color: white;
}

.title-heading {
    padding-top: 16px;
    margin-bottom: 0;
    margin-left: 5px;
    color: #333;
}
.uk-navbar, .submenu {
    max-width: 450px;
    margin: 0 auto !important;
}
.uk-navbar-left {
    gap: 15px;
}

.uk-navbar-toggle {
    margin-top: 20px;    
}

.uk-navbar-toggle svg {
    fill: #333;
}

.uk-nav li {
    margin: 10px;
}

.uk-h2 {
    margin: 0;
}

.uk-text-decoration-none {
    color: rgba(0, 0, 0, 0.8);
}

.uk-text-decoration-none:hover {
    color: rgba(0, 0, 0, 0.8);
}

.uk-navbar-toggle {
    align-items: flex-end;
    min-height: 40px;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.purchase-btn {
     border:1px solid #2d3137 !important;
}

.purchase-btn:hover {
    background-color: #2d3137 !important;
    color: white !important;
}

.img-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
}
