{% extends 'core/base.html' %}

{% block title%}
Exhibitions
{% endblock %}

{% block breadcrumb %}
    <ul class="uk-breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="uk-disabled"><a>Exhibitions</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% for obj in exhibitions %}
        <div class="{% if forloop.first %}uk-margin-medium-top{% else %}uk-margin-large-top{% endif %} uk-width-large center">
            <div class="uk-box-shadow-xlarge">
                <img data-src="{{ obj.image.url }}" alt="{{ obj.title }}" class="lazyload">
            </div>
            <p class="uk-text-uppercase uk-text-meta uk-text-bold uk-margin-remove-bottom">{{ obj.title }}</p>
            <p>{{ obj.start_date|date:"F j, Y" }} - {{ obj.end_date|date:"F j, Y" }}</p>
        </div>
    {% endfor %}
{% endblock %}