{% extends 'core/base.html' %}

{% block title%}
About Me
{% endblock %}

{% block breadcrumb %}
    <ul class="uk-breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="uk-disabled"><a>About</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="uk-container uk-container-xsmall uk-margin-large uk-card uk-card-default uk-card-body uk-padding-small uk-flex uk-flex-center" style="font-family: 'Nanum Myeongjo', serif;">
    <div class="uk-width-xlarge">
        <h4 class="uk-text-center uk-margin-top">김주연(金珠延) JUYEON KIM</h4>
        <div class="uk-text-small uk-margin-large-top" style="text-align:justify;letter-spacing:0.02rem;word-spacing:0.1rem;line-height:1.5rem;column-gap:2rem;">
        <div class="uk-text-small">
            <h5>Educations</h5>
            <p class="uk-margin-small">2009 상명대학교 산업디자인과 졸업</p>
            <p class="uk-margin-small">2019 홍익대학교 미술대학원 회화전공 석사 졸업</p>
            <br>
            <h5>Exhibitions</h5>
            <p class="uk-margin-small">2014 대한민국 현대여성미술대전 수상전 (홍익대대학로아트센터, 서울)</p>
            <p class="uk-margin-small">2014 서울메트로 전국미술대전 수상전 (서울메트로미술관, 서울)</p>
            <p class="uk-margin-small">2015 홍익대학교 미술대학원 회화전공 입학</p>
            <p class="uk-margin-small">2017 뉴욕 현대미술페스티벌 (텐리갤러리, 미국)</p>
            <p class="uk-margin-small">2019 PLAS 조형아트서울 단체전 (코엑스, 서울)</p>
            <p class="uk-margin-small">2019 후쿠오카 한국현대미술전 단체전 (후쿠오카 아시아미술관, 일본)</p>
            <p class="uk-margin-small">2019 홍익대학교 미술대학원 석사청구전 'Nest-the circuration of nature'(홍익대학교 현대미술관, 서울)</p>
            <p class="uk-margin-small">2019 개인전 ‘둥지, 그 삶과 순환에 대하여’ (갤러리이즈, 서울)</p>
            <p class="uk-margin-small">2019 서울아트쇼 (코엑스, 서울)</p>
            <p class="uk-margin-small">2021 핑크아트페어 (인터콘티넨탈호텔, 서울)</p>
            <p class="uk-margin-small">2021 yHa 'The second Layerd' 홍익동문단체전 (갤러리 올, 서울)</p>
            <p class="uk-margin-small">2022 개인전 'Blooming _ love' (일호갤러리, 서울)</p>
            <p class="uk-margin-small">2022 울산아트페어 (울산전시컨벤션센터, 울산)</p>
            <p class="uk-margin-small">2022 yHa 'The thired Layerd' 홍익동문단체전 (아트컨티뉴 서초, 서울)</p>
            <br>
            <br>
        </div>
        </div>
    </div>
</div>
{% endblock %}