{% extends 'core/base.html' %}

{% block title %}
Works In {{ year|date:"Y" }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'work:painting_archive' %}">Works</a></li>
    <li class="uk-disabled"><a>{{ year|date:"Y" }}</a></li>
{% endblock %}

{% block menu %}
    <div class="uk-margin-remove-top uk-margin-small-bottom">
        <a class="uk-link-text" href="{% url 'work:painting_archive' %}"><span uk-icon="chevron-left"></span>All</a>
    </div>
{% endblock %}

{% block content %}
    <div>
        {% for obj in object_list %}
        <div class="{% if forloop.first %}uk-margin-medium-top{% else %}uk-margin-large-top{% endif %} uk-width-large center">
            <div class="img-shadow">
                <img data-src="{{ obj.photos.first.image.url }}" alt="{{ obj.title }}" class="work lazyload">
            </div>
            <p class="uk-text-uppercase uk-text-meta uk-text-bold uk-margin-remove-bottom">{{ obj.title }}</p>
            <p class="uk-text-capitalize uk-text-meta uk-margin-remove-top">{{ obj.caption }}, {{ obj.date|date:"F, Y" }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}